doctype html
html
head
title=title
body
    h1 Account Infomation:-
    h2 Account address : #{accountAddress}
    h2 Asset type : #{AssetType}
    h2 Balance : #{Balance}
    a(href="/stellar/sendPayment") Send Payment
    br
    a(href="/stellar/publickey") Create another Account